.customTooltipContainer {
  min-width: 228px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.76);
}

.header {
  display: flex;
  padding-bottom: 6px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ccc;
}

.payloadItem {
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.key {
  margin-right: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 100%;
}

.value {
  margin-left: auto;
}
