.downloadBtn {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid #c7c5d0;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: var(--black-a1);
  }
}
